<h3 class="boards">My Boards</h3>

<ul>
	<% boards.each(function (board) { %>
		<a href="#/boards/<%= board.id %>">
			<li class="board">
				<%= board.escape('title') %>
			</li>
		</a>
	<% }) %>
</ul>
